/* body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fafafa;
  margin: 0;
  padding: 2rem;
} */

.section-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

h2, h3 {
  color: #444;
  text-align: center;
  margin-top: 2em;
}

.card-section {
  margin-bottom: 2rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  max-width: 300px;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
}

.card a {
  color: #667;
  font-weight: 500;
  text-decoration: none;
}

.card a:hover {
  text-decoration: underline;
}

.card-section p {
  text-align: center;
  font-style: italic;
  color: #666;
}


button {
  background-color: #ACB288;
  color: white;
  padding: 0.6em 1.2em;
  border: none;
  border-radius: 6px;
  font-size: 1em;
  cursor: pointer;
  margin-top: 1em;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #9ba47a;
}

.tab-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  gap: 1rem;
}

.tab-button {
  background-color: #e0e0e0;
  color: #333;
  border: none;
  padding: 0.8em 1.5em;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.tab-button:hover {
  background-color: #ddd;
}

.tab-button.active {
  background-color: #ACB288;
  color: white;
}

.card-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 1rem;
}

