<!DOCTYPE html>
<html>
<head>
  <title>PrepRN</title>

  <!-- Global site font -->
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Segoe+UI&display=swap"
  >

  <!-- Site‑wide styles -->
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='layout.css') }}"
  >

  <!-- favicon -->
  <link 
    rel="icon" 
    type="image/png" 
    sizes="32x32"
    href="{{ url_for('static', filename='favicon.png') }}"
  >
  {% block head %}{% endblock %}

  <!-- Icons -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
  >
</head>
<body>
  {% if session.username %}
    <nav>
    <div class="nav-left">
      <span class="logo">PrepRN</span>
    </div>
    <div class="nav-right">
      <!-- Link to dashboard -->
      <a href="{{ url_for('dashboard') }}"><i class="fas fa-home"></i></a>
      <!-- Link to saved recommendations page -->
      <a href="{{ url_for('my_recommendations') }}"><i class="fas fa-history"></i></a>
      <!-- Link to logout -->
      <a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i></a>
    </div>
  </nav>
    <hr>
  {% endif %}

  {% block content %}{% endblock %}
</body>
</html>
