<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">
</head>
<body>
    <h1>Welcome to PrepRN!</h1>
    <h2>Sign Up</h2>
    {% if error %}
        <p style="color: red; text-align: center;">{{ error }}</p>
    {% endif %}

    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <p>Already have an account? <a href="{{ url_for('login_view') }}">Log in here</a>.</p>
</body>
</html>
